.pixel-painter-main{
    width: 100%;
    height: 100%;
}

.pixel-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 3px ridge black;
    width: 50%;
    height: 98%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame{
    border: 5px ridge black;
    width: 95%;
    height: 95%;
    border-radius: 15px;
}

.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
}

.grid-cell{
    border: 1px ridge black;
}