.pixel-painter-main{
    display: flex;
    justify-content: center; 
}

.pixel-container{
    background-color: white;
    border: 3px ridge black;
    width: 50%;
    height: 100vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .pixel-container {
        margin-top: 20%;
        width:100%;
        height: 87vh;
    }
  }

.frame{
    border: 5px ridge black;
    width: 95%;
    height: 95%;
    border-radius: 15px;
}

.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
}

.grid-cell{
    border: 1px ridge black;
}